body{
    margin: 0;
    padding: 0;
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: repeat-x;
}

@media screen and (max-width: 475px) {
    body{
        background-image: url('./images/pattern-background-mobile.svg');
        background-repeat: repeat-y;
    }
}
    
